assets/images/couverture/light/light[[:space:]]couverture.psd filter=lfs diff=lfs merge=lfs -text
assets/images/plats/plat[[:space:]]rond/plats_rond.psd filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
