:root {
        --primary-color: #f46cfc;
        --secondary-color: #74bc44;
        --tertiary-color: #a6d284;
        --quaternary-color: #945bfc;
        --white: #ffffff;
        --black: #000000;
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Montserrat Alternates", sans-serif;
}

html{
        scroll-behavior: smooth;
}

header{
        background-image: url('../images/couverture/light/light\ couverture\ 2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
}

.nav_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 0.5rem;
        position: fixed;
}

.nav_list{
        display: flex;
        flex-direction: row;
        gap: 5rem;
        margin-left: 17rem;
}

.nav_item{
        transition: 0.5s ease-in-out;
}

.nav_item:hover{
        letter-spacing: 0.1rem;
}

.logo{
        width: 6rem;
        margin-left: 7rem;
}

ul{
        list-style: none;
        font-size: 1.1rem;
}

a{
        text-decoration: none;
        color: white;
}

img{
        max-width: 100%;
        height: auto;
}

i{
        color: white;
        font-size: 1.1rem;
}

i:hover{
        cursor: pointer;
}

.fa-moon{
        margin-right: 7.5rem;
}