:root {
        --primary-color: #f46cfc;
        --secondary-color: #74bc44;
        --tertiary-color: #a6d284;
        --quaternary-color: #945bfc;
        --white: #ffffff;
        --black: #000000;
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Montserrat Alternates", sans-serif;
}

html {
        scroll-behavior: smooth;
}

body {
        overflow-x: hidden;
}

/*------------------------------------------------------------------------ HEADER --------------------------------------------------------------------------*/
header {
        background-color: #F5F5F5;
        height: 100vh;
        width: auto;
}

.tree{
        position: absolute;
        bottom: 0;
        object-fit: cover;
        z-index: -0;
        width: 10rem;
}

.tree2{
        position: absolute;
        top: 0;
        object-fit: cover;
        z-index: -0;
        width: 10rem;
}

.tree3{
        position: absolute;
        top: 0;
        right: 0;
        object-fit: cover;
        z-index: -0;
        width: 10rem;
}

.tree4{
        position: absolute;
        bottom: 0;
        right: 0;
        object-fit: cover;
        z-index: -0;
        width: 10rem;
}

/*-------------------------------------------------------------------------- NAVBAR ------------------------------------------------------------------------*/
.nav_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 94%;
        height: 5rem;
        justify-content: space-around;
        margin-top: 2rem;
        position: absolute;
        top: 0;
        left: 1rem;
        margin-left: 2rem;
        z-index: 1000;
        backdrop-filter: blur(0.5px);
        background-color: transparent;
        transition: backdrop-filter 0.2s ease-in-out, background-color 0.2s ease-in-out, margin 0.5s ease-in-out, width 0.5s ease-in-out, left 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.sticky {
        position: fixed;
        top: 0;
        left: 0;
        padding: 1rem 0;
        background-color: #F5F5F5;
        margin: 0;
        width: 100%;
        backdrop-filter: blur(2px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.nav_list {
        display: flex;
        flex-direction: row;
        gap: 5rem;
}

.nav_item {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        transition: 0.5s ease-in-out;
}

.nav_item:hover {
        letter-spacing: 0.1rem;
}


.logo {
        width: 6rem;
}

ul {
        list-style: none;
        font-size: 1.1rem;
}

a {
        text-decoration: none;
        color: #434343;
}

img {
        max-width: 100%;
        height: auto;
}

i {
        color: #74bc44;
        font-size: 1.1rem;
        transition: 0.5s ease-in-out;
}


.night_btn:hover {
        cursor: pointer;
}

.night_btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #434343;
        margin-right: 2rem;
}

.night_btn p {
        font-size: 0.7rem;
}

.night_btn i {
        font-size: 1.5rem;
}

.menu_btn {
        display: none;
        padding: 1rem;
}

.menu_btn:hover {
        cursor: pointer;
}

.toogle_menu {
        display: none;
}

/*-------------------------------------------------------------------------- RESPONSIVE NAVBAR ----------------------------------------------------------------------------------*/
@media (max-width: 867px) {
        .nav_container {
                margin: 0;
                padding: 0.5rem;
        }

        .logo {
                width: 5rem;
        }

        .nav_list {
                gap: 3rem;
        }
}

@media (max-width: 700px) {
        .nav_list {
                gap: 1rem;
        }
}

@media (max-width: 600px) {
        .nav_item {
                flex-direction: column;
        }
}

@media (max-width: 501px) {
        .menu_btn {
                display: flex;
        }

        .nav_container {
                padding: 0.2rem;
        }

        .nav_list {
                display: none;
        }

        .night_btn {
                margin-left: 10rem;
                font-size: 0.5rem;
        }

        .night_btn i {
                font-size: 1rem;
        }

        .logo {
                width: 4rem;
        }

        .toogle_menu {
                display: flex;
                position: absolute;
                justify-content: center;
                align-items: center;
                z-index: 10000;
                right: -100vw;
                height: 100vh;
                width: 90vw;
                color: #333333;
                background-color: #F5F5F5;
                transition: right 1s ease-in-out;
                overflow: hidden;
        }

        .show {
                right: 0;
        }

        .toogle_list {
                margin-bottom: 17rem;
        }

        .toogle_item {
                padding: 2rem 5rem;
                width: 90vw;
        }

        .toogle_item:hover {
                cursor: pointer;
                background-color: rgb(221, 221, 221);
        }

        .toogle_item a {
                color: #333333;
        }

        .toogle_item i {
                color: #333333;
        }

        .fa-xmark {
                color: #333333;
                position: absolute;
                z-index: 10000001;
                top: 0;
                right: 0;
                margin-top: 1rem;
                margin-right: 1rem;
                padding: 1rem;
        }

        .fa-xmark:hover {
                cursor: pointer;
                color: #3b3b3b;
        }
}

@media (max-width: 365px) {
        .toogle_menu {
                width: 100vw;
        }
}


/*-------------------------------------------------------------------------- HERO SECTION ----------------------------------------------------------------------------------*/
.hero {
        display: flex;
        flex-direction: row;
        width: auto;
        align-items: center;
        justify-content: center;
        padding-top: 8rem;
        z-index: 100;
}

.left_hero {
        margin-left: 10rem;
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 5rem;
}

.description {
        display: flex;
        flex-direction: column;
        gap: 2rem;
}

.description h1 {
        font-size: 2.3rem;
}

button {
        border: none;
        background-color: transparent;
}

.choice {
        display: flex;
        flex-direction: row;
        gap: 4rem;
}

.reservation_btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        background-color: #434343;
        border-radius: 30px;
        padding: 1rem 1.5rem;
        font-weight: 500;
        color: #F5F5F5;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, letter-spacing 0.3s ease-in-out;
}

.reservation_btn:hover {
        background-color: #F5F5F5;
        color: #434343;
        letter-spacing: 0.1rem;
}

.demo_btn {
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        justify-content: center;
        align-items: center;
}

.demo_btn:hover {
        cursor: pointer;
}

.demo_btn i {
        font-size: 1.5rem;
        color: #434343;
}

.demo_btn a {
        font-weight: 500;
        color: #434343;
}

.demo_btn a:hover {
        text-decoration: underline;
}

.socials {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
}

.socials i {
        font-size: 1.7rem;
}

.socials i:hover {
        cursor: pointer;
}

@keyframes changeColor {
        0% {
                color: #F5F5F5;
        }

        /* Couleur de départ */
        50% {
                color: #434343;
        }

        /* Nouvelle couleur */
        100% {
                color: #F5F5F5;
        }

}

.socials i:nth-child(1) {
        animation: changeColor 4s infinite 0s;
}

.socials i:nth-child(2) {
        animation: changeColor 4s infinite 1s;
}

.socials i:nth-child(3) {
        animation: changeColor 4s infinite 2s;
}

.socials i:nth-child(4) {
        animation: changeColor 4s infinite 3s;
}

.right_hero {
        width: 65%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        margin: 0 4rem;
}

.right_hero i {
        color: #333333;
        font-size: 2rem;
        z-index: 1;
}

.right_hero i:hover {
        cursor: pointer;
        color: #74bc44;
        padding: 1rem;
}

.fa-chevron-left:hover {
        transform: translateX(-25%);
}

.fa-chevron-right:hover {
        transform: translateX(25%);
}

.illustration {
        width: 100%;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
}

.illustration img {
        width: 40rem;
}

.slide_container {
        display: flex;
        transition: transform 0.5s ease;
        width: 100vw;
}