:root {
        --primary-color: #f46cfc;
        --secondary-color: #74bc44;
        --tertiary-color: #a6d284;
        --quaternary-color: #945bfc;
        --white: #ffffff;
        --black: #000000;
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Montserrat Alternates", sans-serif;
}

html {
        scroll-behavior: smooth;
}

header {
        background-image: url('../images/couverture/light/light\ couverture\ 4.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
}

.nav_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding-top: 1rem;
        justify-content: space-between;
        margin: 1rem;
        position: fixed;
        top: 0;
        z-index: 1000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(0.5px);
        background-color: transparent;
        transition: backdrop-filter 0.2s ease, background-color 0.2s ease, margin 0.5s ease;
}

.sticky {
        top: 0;
        margin: 0;
        backdrop-filter: blur(2px);
}

.nav_list {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        margin-left: 17rem;
}

.nav_item {
        transition: 0.5s ease-in-out;
}

.nav_item:hover {
        letter-spacing: 0.1rem;
}

.logo {
        width: 6rem;
        margin-left: 7rem;
}

ul {
        list-style: none;
        font-size: 1.1rem;
}

a {
        text-decoration: none;
        color: white;
}

img {
        max-width: 100%;
        height: auto;
}

i {
        color: white;
        font-size: 1.1rem;
}

i:hover {
        cursor: pointer;
}

.fa-moon {
        margin-right: 7.5rem;
}